
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: rgba(22, 34, 57, 0.95);
    color: #fff;
}

.container {

    max-width: 600px;
    /* margin: auto; */
    margin-top: 8vh;
    padding: 20px;
    background-color: black;
    border-radius: 8px;
}

h1 {
    text-align: center;
}

hr{
    border-radius: 10px;
    border-color: antiquewhite;
}

#timer {
    font-size: 18px;
    margin-bottom: 20px;
}

.question {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 10px;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 18px;
    background-color: #0066cc;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #005bb5;
}

@media (max-width: 600px) {
    .container {
        padding: 10px;
    }

    button {
        font-size: 16px;
    }
}

